pandas
numpy
scikit-learn
torch
torchvision
torchaudio
torch-geometric
transformers
newspaper3k
easyocr
openai-whisper
gradio
beautifulsoup4
spacy
lxml_html_clean
requests
accelerate
duckduckgo-search
ddgs
